.page-header {
    height: 8.8rem;
    background-color: var(--color-light1);
}

.page-header .app-bar-children {
    margin-left: 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.page-header hr {
    background-color: var(--color-dark);
}

@media only screen and (max-width: 500px) {
    .page-header .app-bar-children {
        margin-left: 0;
        justify-content: center;
        align-items: center;
    }
}
